<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first p-3">
          <h3 class="p-3">Giriş Yapınız</h3>
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="loginform">
        <input formControlName="username" type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input formControlName="password" type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <input (click)="getLogin()" type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a   class="underlineHover" href="#">Hoşgeldiniz</a>
      </div>
  
    </div>
  </div>