<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Yeni Model Ekle</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form class="form-group" enctype="multipart/form-data"> 
                                <div class="form-group">
                                    <label>New Model Name</label>
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                                <div class="form-group">
                                    <label>New Model Description</label>
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  